body {
    background-color: #b48484;
}

h1 {
    text-align: center;
}

.container {
    background-color: white;
    height: 50%;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



